.debug [class*='col-']{
  background-color: red;
  height: 200px;
  border:1px solid black;
}
.jumbotron{
  background-image: url(../img/bg-home-1.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 90px; /*Altezza navbar-fixed*/
  margin-bottom: 0px;
}
.logo_google::before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background-size: cover;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1004px-Google_%22G%22_Logo.svg.png);
}

/* COLORI FONT SFONDI E SIMILI */
.tcw{
  color: white;
}
.tcg{
  color: #7f8693;
}
.tcb{
  color: #0064ff;
}
.bgcw{
  background-color: white;
}
.bcw{
  border-bottom: 1px solid white;
}
.extra_small{
  font-size: 15px;
}
/* RED CLASS */
h4{
  text-transform: uppercase;
}
footer{
  background-color: #010e28;
}
input{
  text-indent: 10px;
}
p{
  opacity: 0.7;  
}

/* HEADER */
header .nav{
  line-height: 60px;
  width: 100%;
  height: 90px;
  line-height: 90px;
  background-color: white;
}
.hamburger i{
  line-height: 60px;
  cursor: pointer;
  opacity: 0.8;
  color: #0069FF;
  font-size: 120%;
}
/* IMMAGINI */
.bus_img{
  width: calc(100% / 7) ;
  margin-right: 20px;
}
.d_o{
  height: 30px;
}
.rocket img{
  width: 80%;
}
.design img{
  width: 100%;
}
.chevron_sx{
  color: #031b4e;
  resize: both;
}
/* BUTTONS */
.btn_md{
  padding: 10px 0;
}
.btn_radius{
  border-radius: 5px;
  border: 1px solid grey;
}
.radius{
  border-radius: 5px;
}
/* ID SEZIONI */
#business, #design, #development{
  background-color: #f3f5f9;
}
 #started, #service{
  background-color:  #031b4e;
}

/* LISTE */
header li{
  display: inline;
  margin-right: 15px;
  color: black;
}
.lista1{
  margin-left: 50px;
  border-left: 1px solid grey;
}
.lista1 li{
  margin-top: 20px;
  font-size: 20px;
  padding-left: 10px;
}
.social_list li{
  display: inline;
  font-size: 20px;
  padding-right: 10px;
}
.text_underline{
  text-decoration: underline;
}

/* SUDUZFZU */
.rocket {
  width: 50%;
  margin-left: 25%;
  padding: 50px 10px;
}
.size_extra{
  width: 100%;
}

/* MARGINI-PADDING */
/* TOP */
.mgt_0{
  margin-top: 0px;
}
.mgt_10{
  margin-top: 10px;
}
.mgt_20{
  margin-top: 20px;
}
.mgt_40{
  margin-top: 40px;
}
.mgt_60{
  margin-top: 60px;
}
.mgt_80{
  margin-top: 80px;
}
.mgt_100{
  margin-top: 100px;
}
/* BOTTOM */
.mgb_10{
  margin-bottom: 10px;
}
.mgb_20{
  margin-bottom: 20px;
}
.mgb_40{
  margin-bottom: 40px;
}
.mgb_60{
  margin-bottom: 60px;
}
.mgb_80{
  margin-bottom:80px;
}
.mgb_100{
  margin-bottom:100px;
}

/* CERCHI */
.cerchi div{
  margin-left: 49%;
}
.cerchio_blu {
    width: 10px;
    height: 10px;
    background: blue;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px 6px;
    border: 2px solid rgb(0, 105, 255);
}
.cerchio_tras {
   width: 10px;
   height: 10px;
   color: blue;
   border-radius: 50%;
   cursor: pointer;
   margin: 0px 6px;
   border: 2px solid rgb(0, 105, 255);
}
