.debug [class*='col-']{
  background-color: red;
  height: 200px;
  border:1px solid black;
}

.jumbotron{
  background-image: url(../img/bg-home-1.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 90px; /*Altezza navbar-fixed*/
}
/* COLORI FONT E SFONDI */
.tcw{
  color: white;
}
.tcg{
  color: #7f8693;
}
.tcb{
  color: #0064ff;
}
.bgcw{
  background-color: white;
}

h4{
  text-transform: uppercase;
}
footer{
  background-color: #010e28;
}
/* IMMAGINI */
.bus_img{
  width: calc(100% / 7) ;
  margin-right: 20px;
}

/* ID SEZIONI */
#business, #design, #development{
  background-color: #f3f5f9;
}
 #started{
  background-color:  #0064ff;
}
#service{
  background-color: black;
}
.lista1{
  margin-left: 50px;
  border-left: 1px solid grey;

}
.lista1 li{
  margin-top: 20px;
  font-size: 20px;
  padding-left: 10px;
}


.rocket {
  width: 50%;
  margin-left: 25%;
  padding: 50px 10px;
}
.rocket img{
  width: 100%;
}
.size_extra{
  width: 100%;
}
.text_underline{
  text-decoration: underline;
}

/* MARGINI-PADDING */
.mgt_20{
  margin-top: 20px;
}
.mgt_40{
  margin-top: 40px;
}
.mgt_60{
  margin-top: 60px;
}
.mgt_80{
  margin-top: 80px;
}
.mgt_100{
  margin-top: 100px;
}

.mgb_20{
  margin-bottom: 20px;
}
.mgb_40{
  margin-bottom: 40px;
}
.mgb_60{
  margin-bottom: 60px;
}
.mgb_80{
  margin-bottom:80px;
}
.mgb_100{
  margin-bottom:100px;
}
